@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

body {
  font-family: "EB Garamond", serif;
  color: #252525;
}

/* Menu */

.menu {
  background: #252525;
  padding: 20px 0;
}

.menu-container {
  max-width: 960px;
  margin: 0 auto;
}

.menu-container::after,
.menu-nav::before {
  content: "";
  display: table;
  clear: both;
}

.menu-logo {
  display: block;
  float: left;
  margin-left: 10px;
}

.menu-nav {
  float: right;
  margin-right: 10px;
}

.menu-nav li {
  display: inline-block;
}

.menu-nav a {
  display: block;
  padding: 10px;
  color: white;
  font-size: 1.125rem;
  font-weight: 700;
}

/* Intro */

.intro {
  background: url(/img/bg-intro.jpg) no-repeat center center/cover;
  padding: 150px 0;
  text-align: center;
  color: white;
}

.intro h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

.intro h1::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background: white;
  margin: 16px auto;
}

.intro p {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 500;
}

/* Sobre */

.sobre {
  padding: 50px 0;
}

.sobre-container {
  max-width: 960px;
  margin: 0 auto;
}

.sobre-container::after,
.sobre-content::before {
  content: "";
  display: table;
  clear: both;
}

.sobre h2 {
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 50px;
}

.sobre-item {
  max-width: 460px;
  float: left;
  margin: 0 10px;
}

.sobre-item h3 {
  font-size: 2.25rem;
  width: 180px;
  color: white;
  text-align: center;
  font-style: italic;
  padding: 5px 0 10px 0;
  position: relative;
  top: -60px;

  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(4px);
}

.sobre > p {
  font-size: 1.125rem;
  line-height: 1.4rem;
  text-align: center;
  margin: 20px auto;
  max-width: 460px;
}

/* produtos */

.produtos {
  background: #e7e4d8;
  padding: 50px 0;
  border-top: 2px solid #d6d3c8;
}

.produtos-container {
  max-width: 960px;
  margin: 0 auto;
}

.produtos-item::before,
.produtos-container::after {
  content: "";
  display: table;
  clear: both;
}

.produtos-item {
  width: 300px;
  float: left;
  margin: 0 10px 20px 10px;
}

.produtos-item h2 {
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 20px;
}

.produtos-item h2::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: currentColor;
  border-radius: 50%;
  margin: 20px auto;
  box-shadow: 0 0 0 2px #e7e4d8, 0 0 0 6px currentColor;
}

h2.produtos-paulista::before {
  color: #492901;
}

h2.produtos-carioca::before {
  color: #c17139;
}

h2.produtos-mineiro::before {
  color: #d7a54d;
}

.produtos-item p {
  font-size: 1rem;
  line-height: 1.4rem;
}

.produtos-btn {
  width: 180px;
  border: 3px solid #252525;
  display: block;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  margin: 20px auto;
}